body { 
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  font-family: "Open Sans", sans-serif; 
}

input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  margin: 5px; 
}

#refund-address { 
  width: 80%; 
}

select { 
  padding: 5px;
  font-size: 16px;
}

.button-container {
  text-align: center;
  padding: 10px;
}

button { 
  font-size: 16px; 
  padding: 5px; 
  margin: 0px auto; 
} 

h1,
h2 { 
  display: inline-block; 
  vertical-align: middle; 
  margin-top: 0px; 
  margin-bottom: 10px; 
} 

h2 { 
  color: #AAA; 
  font-size: 32px; 
} 

.funding,
.refund,
.success {
  display: none; 
}
